<p-panel header="Tomar nueva medida" [toggleable]="false">
    <div class="newMeasure">
        <div class="newMeasureSecction">
            <div class="newMeasureIcon">
                <i [ngClass]="currentIconClass"></i>
            </div>
            <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="sendInstruction()">
                <div class="grid">
                    <div class="columnForm col-8">
                        <p-dropdown appendTo="body" [showClear]="true" [options]="measuresType" formControlName="measureType" placeholder="Seleccione un tipo de medida"></p-dropdown>
                    </div>
                    <div class="columnForm col-4">
                        <p-calendar formControlName="time" [showTime]="true" [timeOnly]="true" [hourFormat]="'24'" [showSeconds]="true" inputId="timeonly"></p-calendar>
                    </div>
                </div>
                <div class="columnForm">
                    <textarea rows="2" cols="30" pInputTextarea formControlName="description" [autoResize]="true" placeholder="Descripción"></textarea>
                </div>
                <div class="buttonSendInstruction">
                    <button class="button-primary" pButton pRipple type="submit" label="Enviar instrucción" [disabled]="myForm.invalid">
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="currentMeasureTake" *ngIf="currentMeasureTake">
        <div class="currentMeasureSection">
            <div class="currentMeasureIcon">
                <i [ngClass]="currentMeasureTake.message.data.iconClass!"></i>
            </div>
            <div class="currentMeasureInformation">
                <div>
                    <h4>{{currentMeasureTake.message.data.type}}</h4>
                    &nbsp;&nbsp;&nbsp;
                    <h5>{{currentMeasureTake.message.data.time.getHours()}} : {{currentMeasureTake.message.data.time.getMinutes()}}</h5>
                </div>
                <p>{{currentMeasureTake.message.data.description}}</p>
            </div>
        </div>
        <div class="currentMeasureContent">
            <div *ngFor="let measure of currentMeasureTake.message.data.measurementResult">
                <div class="currentMeasure">
                    <h5>{{measure.name}}:</h5>
                    <div *ngIf="!measure.value && currentMeasureTake.message.error == ''" class="snippet" data-title=".dot-flashing">
                        <div class="stage">
                            Calculando &nbsp;
                            <div class="dot-flashing"></div>
                        </div>
                    </div>
                    <p *ngIf="measure.value && currentMeasureTake.message.error == ''">{{measure.value}} {{measure.units}}</p>
                    <div *ngIf="currentMeasureTake.message.error != ''" class="errorSection">
                        <p>{{currentMeasureTake.message.error}}</p>
                        <button class="button-primary" pButton pRipple type="button" label="Recalcular" (click)="resendMqttToGetMeasure()" [disabled]="!measure.value && currentMeasureTake.message.error == ''">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-panel>
<br>
<p-panel header="Histórico medidas" [toggleable]="false">
    <p *ngIf="measuresList.length == 0" class="notMeasuresInList">No hay ningúna medida tomada</p>
    <div class="currentMeasureTake listMeasures" *ngFor="let measureItem of measuresList">
        <div class="currentMeasureSection">
            <div class="currentMeasureIcon">
                <i [ngClass]="measureItem.message.data.iconClass!"></i>
            </div>
            <div class="currentMeasureInformation">
                <div>
                    <h4>{{measureItem.message.data.type}}</h4>
                    &nbsp;&nbsp;&nbsp;
                    <h5>{{measureItem.message.data.time.getHours()}} : {{measureItem.message.data.time.getMinutes()}}</h5>
                </div>
                <p>{{measureItem.message.data.description}}</p>
            </div>
        </div>
        <div class="currentMeasureContent">
            <div *ngFor="let measure of measureItem.message.data.measurementResult">
                <div class="currentMeasure">
                    <h5>{{measure.name}}:</h5>
                    <p *ngIf="measure.value && measureItem.message.error == ''">{{measure.value}} {{measure.units}}</p>
                </div>
            </div>
        </div>
    </div>
</p-panel>
<app-aws-mqtt [clientID]="clientID" [(connection)]="connection"></app-aws-mqtt>