.newMeasure{
    background-color: var(--background);
    padding: .5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .newMeasureSecction{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .newMeasureIcon{
            background-color: var(--primary);
            padding: 0.7rem;
            border-radius: 100%;

            i{
                font-size: 2rem;
                color: white;
            }
        }

        form{
            margin-left: 1rem;
            width: 100%;

            .buttonSendInstruction{
                display: flex;
                justify-content: right;
                align-items: center;
                margin-top: .5rem;
            }
        }
    }
}

.currentMeasureTake{
    max-height: 40vh;
    overflow-y: auto;
    padding: 0.5rem;

    .currentMeasureSection{
        display: flex;
        flex-direction: row;
        align-items: center;

        .currentMeasureInformation{
            margin-left: 1rem;

            div{
                display: flex;
                flex-direction: row;
                align-items: center;

                h4{
                    margin-bottom: 0;
                    margin-top: 0;
                }

                h5{
                    margin-bottom: 0;
                    margin-top: 0;
                    color: var(--shadows);
                }
            }

            p{
                margin-bottom: 0;
            }
        }

        .currentMeasureIcon{
            background-color: var(--primary);
            padding: 0.7rem;
            border-radius: 100%;
    
            i{
                font-size: 2rem;
                color: white;
            }
        }
    }
}

.button-primary{
    font-size: .7rem;
    padding: 0.55rem 1rem;
    background-color: var(--tertiary);
    border-color: var(--tertiary);
}

.button-primary:hover{
    background-color: var(--tertiaryDark);
    border-color: var(--tertiaryDark);
}

.currentMeasureContent{
    box-shadow: 1px 1px 5px 0px #d5d5d5;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 1rem;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;

    .currentMeasure{
        display: flex;
        align-items: center;
        margin: .5rem;

        h5{
            margin: 0;
            margin-right: .5rem;
        }

        p{
            margin: 0;
        }

        .errorSection{
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
        }
    }
    
    .stage{
        display: flex;
        align-items: center;
        margin-left: .5rem;
    }
    
    .dot-flashing {
        position: relative;
        width: 5px;
        height: 5px;
        border-radius: 5px;
        background-color: var(--primary);
        color: var(--primary);
        left: 10px;
        top: 2px;
        animation: dotFlashing 1s infinite linear alternate;
        animation-delay: .5s;
    }
    
    .dot-flashing::before, .dot-flashing::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
    }
    
    .dot-flashing::before {
        left: -15px;
        width: 5px;
        height: 5px;
        border-radius: 5px;
        background-color: var(--primary);
        color: var(--primary);
        animation: dotFlashing 1s infinite alternate;
        animation-delay: 0s;
    }
    
    .dot-flashing::after {
        left: 15px;
        width: 5px;
        height: 5px;
        border-radius: 5px;
        background-color: var(--primary);
        color: var(--primary);
        animation: dotFlashing 1s infinite alternate;
        animation-delay: 1s;
    }
    
    @keyframes dotFlashing {
        0% {
            background-color: var(--primary);
        }
        50%,
        100% {
            background-color: #abf4eb;
        }
    }
}

.listMeasures{
    border-bottom: 1px solid var(--background);
}

.notMeasuresInList{
    margin: 0;
    padding-top: .5rem;
    padding-left: .5rem;
}