<div class="grid">
    <div class="col-12 sm:col-12 md:col-6 lg:col-4">
        <app-upcomming-events></app-upcomming-events>
    </div>
    <div class="col-12 sm:col-12 md:col-6 lg:col-4">
        <app-consult-notifications></app-consult-notifications>
    </div>
    <div class="col-12 sm:col-12 md:col-6 lg:col-4">
        <app-patients-list></app-patients-list>
    </div>
</div>