.calendarTopOptions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .chooseDate{
        display: flex;
        flex-direction: row;

        div{
            margin-right: .5rem;
        }
    }
}

h3{
    color: var(--secundary);
}

.calendarTopOptions button{
    font-size: .7rem;
    border-radius: 1rem;
    padding: 0.55rem 1rem;
    background-color: var(--primary);
    border-color: var(--primary);
}

.calendarTopOptions button:hover{
    background-color: var(--secundary);
    border-color: var(--secundary);
}

.withoutRightCorners{
    border-top-right-radius: 0 !important;
    border-end-end-radius: 0 !important;
}

.withoutLeftCorners{
    border-top-left-radius: 0 !important;
    border-end-start-radius: 0 !important;
}

.withoutCorners{
    border-radius: 0 !important;
}

.active{
    background-color: var(--textSoft) !important;
    border-color: var(--textSoft) !important;
    color: var(--primary);
}

.active:hover{
    background-color: var(--secundary) !important;
    border-color: var(--secundary) !important;
    color: var(--textSoft);
}

.newEventButton{
    margin-left: .5rem;
    background-color: var(--tertiary) !important;
    border:  var(--tertiary) !important;
}

.newEventButton:hover{
    background-color: var(--tertiaryDark) !important;
    border:  var(--tertiaryDark) !important;
}

@media (max-width: 767px) {
    .calendarTopOptions{
      flex-direction: column;
    }
}