<p-toast key="calendarKey" position="top-right"></p-toast>
<div class="calendarTopOptions">
    <div class="chooseDate">
        <div>
        <button class="withoutRightCorners" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" pButton type="button" (click)="closeOpenMonthViewDay()">
            <i class="fa-solid fa-angle-left"></i>
        </button>
        <button class="withoutLeftCorners" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" pButton type="button" (click)="closeOpenMonthViewDay()">
            <i class="fa-solid fa-angle-right"></i>
        </button>
        </div>
        <button mwlCalendarToday [(viewDate)]="viewDate" pButton type="button" label="Actual"></button>
        <button (click)="showEventDialog('Añadir evento', 'Crear', 'post')" class="newEventButton" pButton type="button" label="Añadir evento"></button>
    </div>
    <div>
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'es' | titlecase }}</h3>
    </div>
    <div>
        <button class="withoutRightCorners" [class.active]="view === CalendarView.Month" pButton type="button" label="Mes" (click)="setView(CalendarView.Month)"></button>
        <button class="withoutCorners" [class.active]="view === CalendarView.Week" pButton type="button" label="Semana" (click)="setView(CalendarView.Week)"></button>
        <button class="withoutLeftCorners" [class.active]="view === CalendarView.Day" pButton type="button" label="Día" (click)="setView(CalendarView.Day)"></button>
    </div>
</div>
<br />
<div [ngSwitch]="view">
    <mwl-calendar-month-view
        *ngSwitchCase="CalendarView.Month"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
        *ngSwitchCase="CalendarView.Week"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
        *ngSwitchCase="CalendarView.Day"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
</div>

<app-modal-events 
    [parentType]="'fullCalendar'"
    [dialogHeader]="dialogHeader"
    [buttonSummitTitle]="buttonSummitTitle"
    [(dialogMode)]="dialogMode"
    [(displayModalEvent)]="displayModalEvent"
    [resetModalValues]="resetModalValues"
    [patients]="patients"
    [currentEvent]="currentEvent"
    [(calendarEvents)]="events"
    [actions]="actions"
    (updateData)="detectCalendarChanges()"
></app-modal-events>

<p-confirmDialog header="Confirmación borrado" icon="pi pi-exclamation-triangle"></p-confirmDialog>