<p-panel header="Tomar nueva medida" [toggleable]="false">
    <p *ngIf="currentMeasureTake == null" class="notMeasureInList">Por favor, espere a que el médico envíe una orden</p>
    <div class="currentMeasureTake" *ngIf="currentMeasureTake">
        <div class="currentMeasureSection">
            <div class="currentMeasureIcon">
                <i [ngClass]="currentMeasureTake.message.data.iconClass!"></i>
            </div>
            <div class="currentMeasureInformation">
                <div>
                    <h4>{{currentMeasureTake.message.data.type}}</h4>
                    &nbsp;&nbsp;&nbsp;
                    <h5>{{currentMeasureTake.message.data.time.getUTCHours()}} : {{currentMeasureTake.message.data.time.getUTCMinutes()}}</h5>
                </div>
                <p>{{currentMeasureTake.message.data.description}}</p>
            </div>
        </div>
        <div class="currentMeasureContent">
            <div *ngFor="let measure of currentMeasureTake.message.data.measurementResult">
                <div class="currentMeasure">
                    <h5>{{measure.name}}:</h5>
                    <div *ngIf="!measure.value && currentMeasureTake.message.error == ''" class="snippet" data-title=".dot-flashing">
                        <div class="stage">
                            Calculando &nbsp;
                            <div class="dot-flashing"></div>
                        </div>
                    </div>
                    <p *ngIf="measure.value && currentMeasureTake.message.error == ''">{{measure.value}} {{measure.units}}</p>
                    <div *ngIf="currentMeasureTake.message.error != ''" class="errorSection">
                        <p>{{currentMeasureTake.message.error}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-panel>
<br>
<p-panel header="Histórico medidas" [toggleable]="false">
    <p *ngIf="measuresList.length <= 0" class="notMeasureInList">No hay ningúna medida tomada</p>
    <div class="currentMeasureTake listMeasures" *ngFor="let measureItem of measuresList">
        <div class="currentMeasureSection">
            <div class="currentMeasureIcon">
                <i [ngClass]="measureItem.message.data.iconClass!"></i>
            </div>
            <div class="currentMeasureInformation">
                <div>
                    <h4>{{measureItem.message.data.type}}</h4>
                    &nbsp;&nbsp;&nbsp;
                    <h5>{{measureItem.message.data.time.getHours()}} : {{measureItem.message.data.time.getMinutes()}}</h5>
                </div>
                <p>{{measureItem.message.data.description}}</p>
            </div>
        </div>
        <div class="currentMeasureContent">
            <div *ngFor="let measure of measureItem.message.data.measurementResult">
                <div class="currentMeasure">
                    <h5>{{measure.name}}:</h5>
                    <p *ngIf="measure.value && measureItem.message.error == ''">{{measure.value}} {{measure.units}}</p>
                </div>
            </div>
        </div>
    </div>
</p-panel>
<app-aws-mqtt [clientID]="clientID" [(connection)]="connection" (isConnectionCorrectly)="subscribeTakeMeasures();"></app-aws-mqtt>