<router-outlet *ngIf="!isLogged"></router-outlet>

<div class="grid" *ngIf="isLogged">
  <div class="col-2 sm:col-2 md:col-1 xl:col-1 leftBar">
    <app-left-bar></app-left-bar>
  </div>
  <div class="col-10 sm:col-10 md:col-11 xl:col-11">
    <router-outlet></router-outlet>
  </div>
  <p-toast key="notificationsAppKey" position="top-right"></p-toast>
  <app-aws-mqtt [clientID]="clientID" [(connection)]="connection" (isConnectionCorrectly)="subscribeNotifications();"></app-aws-mqtt>
</div>