<p-dialog (onHide)="closeModal()" header="{{dialogHeader}}" [(visible)]="displayModalCenters" [modal]="true" [draggable]="false" [breakpoints]="{'960px': '70vw', '640px': '85vw'}" [style]="{width: '50vw'}">
    <p-messages></p-messages>  
    <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="dialogMode == 'post' ? createNewCenter() : updateCenterInformation()">
      <div class="grid">
        <div class="columnForm col-6">
          <h5>Nombre</h5>
          <input type="text" name="name" formControlName="nameCenter" pInputText placeholder="Nombre centro">
        </div>
        <div class="columnForm col-6">
            <h5>Teléfono</h5>
            <input type="text" name="phone" formControlName="phoneCenter" pInputText placeholder="Número de teléfono">
        </div>
      </div>
      <div class="grid">
        <div class="columnForm col-12">
          <h5>Zona básica de salud</h5>
          <p-dropdown appendTo="body" [options]="basicHealthZones" formControlName="selectedZBS" [filter]="true" filterBy="name" optionLabel="name" placeholder="Seleccione una ZBS"></p-dropdown>
        </div>
      </div>
      <div class="columnForm roomsSection" *ngIf="dialogMode == 'put'">
        <h5>Salas</h5>
        <p *ngIf="!currentCenter.rooms || currentCenter.rooms.length <= 0">No hay salas en el centro</p>
        <p *ngIf="currentCenter.rooms && currentCenter.rooms.length > 0">
            <p-chip [label]="room.name" *ngFor="let room of currentCenter.rooms" [removable]="false"></p-chip>
        </p>
        <sub class="inputAnotation">Este campo no se puede modificar, si quiere cambiar o añadir una sala, acceda a la misma</sub>
      </div>
      <div class="columnFormButton">
        <button class="button-primary" pButton pRipple type="submit" label="{{buttonSummitTitle}}" [disabled]="myForm.invalid"></button>
      </div>
    </form>
</p-dialog>
