.roomsSection{
    p{
        margin: 0;
        display: flex;
        align-items: center;
    }
}

:host ::ng-deep .p-chip{
    font-size: .7rem;
    margin-right: 0.2rem;
    width: fit-content;

    .p-chip-text{
        min-width: fit-content;
    }
}