<p-dialog (onHide)="closeModal()" header="{{dialogHeader}}" [(visible)]="displayModalDoctor" [modal]="true" [draggable]="false" [breakpoints]="{'960px': '70vw', '640px': '85vw'}" [style]="{width: '50vw'}">
    <p-messages></p-messages>  
    <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="dialogMode == 'post' ? createNewDoctorInformation() : updateDoctorInformation()">
      <div class="grid">
        <div class="columnForm col-6">
          <h5>Nombre</h5>
          <input type="text" name="name" formControlName="doctorName" pInputText placeholder="Nombre médico">
        </div>
        <div class="columnForm col-6">
          <h5>Apellidos</h5>
          <input type="text" name="surname" formControlName="doctorSurname" pInputText placeholder="Apellidos médico">
        </div>
      </div>
      <div class="columnForm">
        <h5>Email</h5>
        <input [readonly]="dialogMode != 'post'" [disabled]="dialogMode != 'post'" type="email" name="email" formControlName="doctorEmail" pInputText placeholder="Correo electrónico">
        <sub *ngIf="dialogMode == 'put'" class="inputAnotation">Este campo no se puede modificar</sub>
      </div>
      <div class="grid">
        <div class="columnForm col-6">
          <h5>Contraseña</h5>
          <input type="password" name="password" formControlName="doctorPassword" pInputText placeholder="Contraseña">
        </div>
        <div class="columnForm col-6">
          <h5>Repetir contraseña</h5>
          <input type="password" name="repeatEmail" formControlName="doctorRepeatPassword" pInputText placeholder="Repetir contraseña">
        </div>
      </div>
      <div class="columnForm">
        <h5>Permisos de administrador</h5>
        <div class="field-checkbox">
            <p-checkbox id="isAdminCheckbox" [readonly]="dialogMode != 'post' && sessionDoctor?.isAdmin != 1" [disabled]="dialogMode != 'post' && !sessionDoctor?.isAdmin" [binary]="true" inputId="binary" [formControl]="$any(myForm).controls['doctorIsAdmin']"></p-checkbox>
            <label for="binary">{{myForm.controls['doctorIsAdmin'].value == 1 ? 'Si' : 'No'}}</label>
        </div>
        <sub *ngIf="dialogMode == 'put'  && sessionDoctor?.isAdmin != 1" class="inputAnotation">Este campo no se puede modificar si no es administrador</sub>
      </div>
      <div class="columnForm bhzSection">
        <h5>ZBS</h5>
        <p>
            <p-chip [label]="BHZ.name" *ngFor="let BHZ of basicHealthZones" [removable]="true" (onRemove)="updateRemovedList(BHZ)"></p-chip><p-dropdown appendTo="body" [options]="allBasicHealthZones" formControlName="selectedZBS" [filter]="true" filterBy="name" optionLabel="name" placeholder="Añadir zona básica de salud"></p-dropdown>
        </p>
      </div>
      <div class="columnFormButton">
        <button class="button-primary" pButton pRipple type="submit" label="{{buttonSummitTitle}}" [disabled]="myForm.invalid"></button>
      </div>
    </form>
</p-dialog>
