<p-dialog (onHide)="closeModal()" header="{{dialogHeader}}" [(visible)]="displayModalPatient" [modal]="true" [draggable]="false" [breakpoints]="{'960px': '70vw', '640px': '85vw'}" [style]="{width: '50vw'}">
    <p-messages></p-messages>  
    <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="dialogMode == 'post' ? createNewPatientInformation() : updatePatientInformation()">
      <div class="grid">
        <div class="columnForm col-6">
          <h5>Nombre</h5>
          <input type="text" name="name" formControlName="patientName" pInputText placeholder="Nombre paciente">
        </div>
        <div class="columnForm col-6">
          <h5>Apellidos</h5>
          <input type="text" name="surname" formControlName="patientSurname" pInputText placeholder="Apellidos paciente">
        </div>
      </div>
      <div class="grid">
        <div class="columnForm col-6">
          <h5>Edad</h5>
          <input type="number" name="age" formControlName="patientAge" pInputText placeholder="Edad paciente">
        </div>
        <div class="columnForm col-6">
          <h5>SIP</h5>
          <input [readonly]="dialogMode != 'post'" [disabled]="dialogMode != 'post'" type="text" name="sip" formControlName="patientSIP" pInputText placeholder="SIP o Identificador paciente">
          <sub *ngIf="dialogMode == 'put'" class="inputAnotation">Este campo no se puede modificar</sub>
        </div>
      </div>
      <div class="grid">
        <div class="columnForm col-6">
          <h5>Zona Básica de Salud</h5>
          <p-dropdown appendTo="body" [options]="basicHealthZones" formControlName="selectedBasicHealthZone" [filter]="true" filterBy="name" optionLabel="name" placeholder="Seleccione una zona"></p-dropdown>
        </div>
        <div class="columnForm col-6">
          <h5>Centro</h5>
          <p-dropdown appendTo="body" [disabled]="!isBasicHealthZoneSelected" [options]="centers" formControlName="selectedCenter" [filter]="true" filterBy="name" optionLabel="name" placeholder="Seleccione un centro"></p-dropdown>
          <sub *ngIf="!isBasicHealthZoneSelected" class="inputAnotation">Seleccione primero una Zona Básica de Salud</sub>
        </div>
      </div>
      <div class="grid">
        <div class="columnForm col-6">
          <h5>Doctor/a</h5>
          <p-dropdown appendTo="body" [disabled]="!isBasicHealthZoneSelected" [options]="doctors" formControlName="selectedDoctor" [filter]="true" filterBy="showData" optionLabel="showData" placeholder="Seleccione un doctor"></p-dropdown>
          <sub *ngIf="!isBasicHealthZoneSelected" class="inputAnotation">Seleccione primero una Zona Básica de Salud</sub>
        </div>
      </div>
      <div class="columnFormButton">
        <button class="button-primary" pButton pRipple type="submit" label="{{buttonSummitTitle}}" [disabled]="myForm.invalid"></button>
      </div>
    </form>
</p-dialog>
