<p-panel header="Salas para las consultas" [toggleable]="false">
    <div class="optionsRoom">
        <div class="roomsSearch">
            <form autocomplete="on" [formGroup]="myForm">
                <input [readonly]="!isAdmin" [disabled]="!isAdmin" formControlName="roomsSearch" type="text" name="description" pInputText placeholder="Buscar sala...">
            </form>
        </div>
        <div class="roomsButtons">
            <button pButton [disabled]="!isAdmin" (click)="orderRoomsByAlphabetic()">
                <i [className]="orderAlphabeticClass"></i>
            </button>
            <button pButton [disabled]="!isAdmin" (click)="showRoomDialog('Crear sala', 'Crear', 'post', null!)">
                <i class="pi pi-plus"></i>
            </button>
        </div>
    </div>
    <div class="roomsList">
        <div *ngIf="!isAdmin">
            <p>Necesita ser administrador para poder visualizar, modifica y crear salas</p>
        </div>
        <div *ngIf="isAdmin">
            <p *ngIf="rooms.length <= 0">No hay salas</p>
            <div class="roomsItem" *ngFor="let room of rooms">
                <div class="grid">
                    <div class="col-10">
                        <h4>{{room.name}}</h4>
                        <p>Centro: {{room.center ? room.center.name : 'La sala no está asignada a ningún centro'}}</p>
                        <p>Coordinador: {{room.coordinator ? room.coordinator.mac : 'No hay un coordinador en la sala'}}</p>
                        <p *ngIf="room.patientsApplication">Ip aplic.: {{room.patientsApplication.ip}} | MAC aplic.: {{room.patientsApplication.mac}}</p>
                        <p *ngIf="!room.patientsApplication">Aplicación: No hay una aplicación en la sala</p>
                    </div>
                    <div class="col-2 roomsOptions">
                        <button pButton (click)="showRoomDialog('Editar sala', 'Editar', 'put', room)">
                            <i class="fa-solid fa-pen"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-panel>

<app-modal-rooms
    [dialogHeader]="dialogHeader"
    [buttonSummitTitle]="buttonSummitTitle"
    [(dialogMode)]="dialogMode"
    [(displayModalRooms)]="displayModalRooms"
    [currentRoom]="currentRoom"
    (updateData)="detectRoomChanges($event)">
</app-modal-rooms>