#login{
    height: 100vh;
}

.decorationSection{
    background-color: var(--primary);
    color: var(--textSoft);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
        margin-bottom: 0;
    }

    img{
        width: 80%;
    }
}

.panelSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.panel{
    margin: 2rem;
    padding: 1rem;
}

.panelTitles{
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        color: var(--primary);
        margin-bottom: 0;
    }

    h2{
        color: var(--secundary);
    }
}

@media (max-width: 767px) {
    .decorationSection{
      display: none;
    }
}

@media (min-width: 1238px) {
    .decorationSection img{
      width: 60%;
    }
}