<div id="login" class="grid">
    <div class="col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 panelSection">
        <p-card class="panel">
            <div class="panelTitles">
                <h1>Bienvenido a PoCAR</h1>
                <h2>Iniciar sesión</h2>
            </div>
            <p-messages></p-messages>
            <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="initSession()">
                <div class="columnForm">
                    <h5>Correo electrónico</h5>
                    <span class="p-input-icon-left">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" name="email" formControlName="email" placeholder="E-mail" pInputText>         
                    </span>
                </div>
                <div class="columnForm">
                    <h5>Contraseña</h5>
                    <span class="p-input-icon-left">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" name="password" formControlName="password" pInputText placeholder="Contraseña">       
                    </span>
                </div>
                <div class="columnFormButton">
                    <button class="button-primary" pButton pRipple type="submit" label="Iniciar sesión" [disabled]="myForm.invalid"></button>
                </div>
            </form>
        </p-card>
    </div>
    <div class="col-0 sm:col-0 md:col-6 lg:col-6 xl:col-6 decorationSection">
        <h1>PoCAR</h1>
        <h2>Puntos de atención sanitaria en entornos rurales y remotos</h2>
        <img src="../../../../assets/loginImage.webp" alt="Dibujo ordenador consultas médicas">
    </div>
</div>