<p-panel header="Pacientes" [toggleable]="false">
    <div class="optionsPatients">
        <div class="patientsSearch">
            <form autocomplete="on" [formGroup]="myForm">
                <input formControlName="patientsSearch" type="text" name="description" pInputText placeholder="Buscar paciente...">
            </form>
        </div>
        <div class="patientsButtons">
            <button pButton (click)="orderPatientsByAlphabetic()">
                <i [className]="orderAlphabeticClass"></i>
            </button>
            <button pButton (click)="showPatientDialog('Crear paciente', 'Crear', 'post', null!)">
                <i class="pi pi-plus"></i>
            </button>
        </div>
    </div>
    <div class="patientsList">
        <p *ngIf="patients.length <= 0">No hay pacientes disponibles</p>
        <div class="patientItem" *ngFor="let patient of patients">
            <div class="grid">
                <div class="col-6 lg:col-7 patientData">
                    <h4>{{patient.name}} {{patient.surname}} · {{patient.age}} años</h4>
                    <p>SIP: {{patient.sip}}</p>
                    <p>Centro: {{patient.center?.name}} | ZBS: {{patient.basicHealthZone?.name}}</p>
                    <p>Médico: {{patient.doctor?.showData}}</p>
                </div>
                <div class="col-6 lg:col-5 patientOptions">
                    <div></div>
                    <button pButton (click)="showPatientDialog('Editar paciente', 'Editar', 'put', patient)">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                    <button pButton label="Ver perfíl" (click)="changeCurrentPatient(patient)" [routerLink]="[ '/pacientes' ]" [state]="{ patient: patient }"></button>
                </div>
            </div>
        </div>
    </div>
</p-panel>
<app-modal-patients-list
    [dialogHeader]="dialogHeader"
    [buttonSummitTitle]="buttonSummitTitle"
    [(dialogMode)]="dialogMode"
    [(displayModalPatient)]="displayModalPatient"
    [basicHealthZones]="basicHealthZones"
    [currentPatient]="currentPatient"
    (updateData)="detectPatientsChanges($event)">
</app-modal-patients-list>