.optionsPatients{
    background-color: var(--background);
    padding: .5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .patientsSearch input{
        padding: 0.55rem 1rem;
        font-size: .7rem;
        border-color: var(--primary);
    }
}

.optionsPatients .patientsButtons, .patientOptions{
    button{
        padding: 0.25rem .5rem;
        font-size: 1rem;
        background-color: var(--primary);
        border-color: var(--primary);
    }

    button:hover{
        background-color: var(--primaryDark);
        border-color: var(--primaryDark);
    }

    button:first-child{
        margin-right: .5rem;
    }
}

.patientOptions{
    button:first-child{
        background-color: var(--error);
        border-color: var(--error);
    }

    button:first-child:hover{
        background-color: var(--errorDark);
        border-color: var(--errorDark);
    }

    button:nth-child(2){
        margin-right: .5rem;
    }

    button:nth-child(3){
        background-color: var(--tertiary);
        border-color: var(--tertiary);
        font-size: .7rem;
        padding: .5rem 1rem;
    }

    button:nth-child(3):hover{
        background-color: var(--tertiaryDark);
        border-color: var(--tertiaryDark);
    }
}

.patientsList{
    max-height: 40vh;
    overflow-y: auto;
    padding: .5rem;
}

.patientItem{
    border-bottom: 1px solid var(--background);
}

.patientData h4{
    margin-top: .5rem;
}

.patientOptions{
    display: flex;
    justify-content: right;
    align-items: center;

    h4{
        color: var(--secundary);
    }
}