<p-dialog (onHide)="closeModal()" header="{{dialogHeader}}" [(visible)]="displayModalBhz" [modal]="true" [draggable]="false" [breakpoints]="{'960px': '70vw', '640px': '85vw'}" [style]="{width: '50vw'}">
    <p-messages></p-messages>  
    <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="dialogMode == 'post' ? createNewBasicHealthZoneInformation() : updateBasicHealthZoneInformation()">
      <div class="grid">
        <div class="columnForm col-12">
          <h5>Nombre</h5>
          <input type="text" name="name" formControlName="name" pInputText placeholder="Nombre zona">
        </div>
      </div>
      <div class="columnForm centersSection" *ngIf="dialogMode == 'put'">
        <h5>Centros</h5>
        <p *ngIf="!centers || centers.length <= 0">No hay centros en la ZBS</p>
        <p *ngIf="centers && centers.length > 0">
            <p-chip [label]="center.name" *ngFor="let center of centers" [removable]="false"></p-chip>
        </p>
        <sub class="inputAnotation">Este campo no se puede modificar, si quiere cambiar o añadir un centro, acceda al mismo</sub>
      </div>
      <div class="columnFormButton">
        <button class="button-primary" pButton pRipple type="submit" label="{{buttonSummitTitle}}" [disabled]="myForm.invalid"></button>
      </div>
    </form>
</p-dialog>
