.patientIndormation{
    max-height: 40vh;
    overflow-y: auto;
    padding: .5rem;
}

.patientData h4{
    margin-top: .5rem;
}

.eventData{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .cancelButton{
        font-size: 0.7rem;
        padding: 0.5rem 1rem;
    }
}