<p-panel header="Datos paciente" [toggleable]="false">
    <div class="patientIndormation">
        <p *ngIf="!patient">No hay ningún paciente seleccionado</p>
        <div *ngIf="patient">
            <div class="grid">
                <div class="col-12">
                    <h4>{{patient.name}} {{patient.surname}} · {{patient.age}} años</h4>
                    <p>SIP: {{patient.sip}}</p>
                    <p>Centro: {{patient.center?.name}} | ZBS: {{patient.basicHealthZone?.name}}</p>
                    <p>Médico: {{patient.doctor?.name + " " + patient.doctor?.surname}}</p>
                </div>
            </div>
            <hr *ngIf="viewType == 'videocall'">
            <div class="grid" *ngIf="viewType == 'videocall'">
                <div class="col-12 eventData">
                    <p>{{event ? "Motivo visita: "+event.description : "No hay ninguna visita programada"}}</p>
                    <div>
                        <button class="button-primary cancelButton" pButton pRipple type="submit" label="Finalizar visita" (click)="closeConsultationCall()"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-panel>