:root {
    --primary: #59BAAE;
    --primaryDark: #50a79c;
    --secundary: #258075;
    --secundaryDark:rgb(31, 107, 98);
    --tertiary: #5995BA;
    --tertiaryDark: #4d81a1;
    --error: #BA5996;
    --errorDark: #9e4b7f;
    --textSoft: white;
    --background: #F2F2F2;
    --shadows: #c0bebe;
    --greyText: #797979;
}

html{
    background-color: var(--background);
}

/* CHANGE GENERAL PRIMENG STYLES */

.p-inputtext:enabled:hover {
    border-color: var(--primary);
}

.p-inputtext:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 1px var(--secundary);
    border-color: var(--primary);
}

.p-button:disabled{
    background-color: var(--greyText);
    border: 1px solid var(--greyText);
}

.p-button {
    color: var(--textSoft);
    background: var(--secundary);
    border: 1px solid var(--secundary);
}

.p-button:enabled:hover {
    background: var(--secundaryDark);
    color: var(--textSoft);
    border-color: var(--secundaryDark);
}

.p-button:focus{
    box-shadow: none;
}

.p-button.cancelButton:disabled{
    background-color: var(--greyText);
    border: 1px solid var(--greyText);
}

.p-button.cancelButton {
    color: var(--textSoft);
    background: var(--error);
    border: 1px solid var(--error);
}

.p-button.cancelButton:enabled:hover {
    background: var(--errorDark);
    color: var(--textSoft);
    border-color: var(--errorDark);
}

.p-button.cancelButton:focus{
    box-shadow: none;
}

/* SECTION FORMS IN COLUMN */
/* used in: login, consultations */

form .columnForm{
    display: flex;
    flex-direction: column;

    span, span input{
        width: 100%;
    }

    h5{
        margin-bottom: .5rem;
    }

    sub{
        margin-top: 0.1rem;
        color: var(--greyText);
    }
}

form .columnFormButton{
    display: flex;
    justify-content: end;

    button{
        margin: 1rem;
        margin-right: 0;
    }
}

/* PANELS */
/* used in: login, consultations */

.p-panel .p-panel-header{
    background-color: var(--primary);
    color: var(--textSoft);
    padding: .5rem;
    min-height: 3rem;

    .p-panel-header-icon{
        color: var(--textSoft);

        a{
            color: var(--textSoft);
        }
    }
}

.p-panel .p-panel-header .p-panel-header-icon:enabled:hover {
    color: var(--secundary);
    border-color: var(--primary);
    background: var(--primary);
}

.p-panel .p-panel-header .p-panel-header-icon:enabled:hover a {
    color: var(--secundary);
    border-color: var(--primary);
    background: var(--primary);
}

.p-panel .p-panel-header .p-panel-header-icon:focus{
    box-shadow: none;
}

.p-panel .p-panel-content{
    padding: 0;
    padding-bottom: 1.25rem;
}