<p-panel header="Médicos" [toggleable]="false">
    <div class="optionsDoctors">
        <div class="doctorsSearch">
            <form autocomplete="on" [formGroup]="myForm">
                <input [readonly]="!isAdmin" [disabled]="!isAdmin" formControlName="doctorsSearch" type="text" name="description" pInputText placeholder="Buscar doctor...">
            </form>
        </div>
        <div class="doctorsButtons">
            <button pButton [disabled]="!isAdmin" (click)="orderDoctorsByAlphabetic()">
                <i [className]="orderAlphabeticClass"></i>
            </button>
            <button pButton [disabled]="!isAdmin" (click)="showDoctorDialog('Crear médico', 'Crear', 'post', null!)">
                <i class="pi pi-plus"></i>
            </button>
        </div>
    </div>
    <div class="doctorsList">
        <div *ngIf="!isAdmin">
            <p>Necesita ser administrador para poder visualizar, modifica y crear otros médicos</p>
        </div>
        <div *ngIf="isAdmin">
            <p *ngIf="doctors.length <= 0">No hay doctores disponibles</p>
            <div class="doctorItem" *ngFor="let doctor of doctors">
                <div class="grid">
                    <div class="col-10">
                        <h4>{{doctor.name}} {{doctor.surname}}</h4>
                        <p>Email: {{doctor.email}}</p>
                        <p class="reduceText">Contraseña: {{doctor.password | unshowPassword}}</p>
                        <p>Administrador: {{doctor.isAdmin == 1 ? 'Si' : 'No'}}</p>
                        <p *ngIf="!doctor.basicHealthZones || doctor.basicHealthZones!.length <= 0">ZBS: El médico no tiene asignada ninguna ZBS</p>
                        <p *ngIf="doctor.basicHealthZones && doctor.basicHealthZones!.length > 0">ZBS: <p-chip [label]="BHZ.name" *ngFor="let BHZ of doctor.basicHealthZones"></p-chip></p>
                    </div>
                    <div class="col-2 doctorOptions">
                        <button pButton (click)="showDoctorDialog('Editar médico', 'Editar', 'put', doctor)">
                            <i class="fa-solid fa-pen"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-panel>

<app-modal-doctors
    [dialogHeader]="dialogHeader"
    [buttonSummitTitle]="buttonSummitTitle"
    [(dialogMode)]="dialogMode"
    [(displayModalDoctor)]="displayModalDoctor"
    [basicHealthZones]="currentDoctor ? currentDoctor.basicHealthZones! : []"
    [currentDoctor]="currentDoctor"
    (updateData)="detectDoctorsChanges($event)">
</app-modal-doctors>