.optionsDoctors{
    background-color: var(--background);
    padding: .5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .doctorsSearch input{
        padding: 0.55rem 1rem;
        font-size: .7rem;
        border-color: var(--primary);
    }
}

.optionsDoctors .doctorsButtons, .patientOptions{
    button{
        padding: 0.25rem .5rem;
        font-size: 1rem;
        background-color: var(--primary);
        border-color: var(--primary);
    }

    button:hover{
        background-color: var(--primaryDark);
        border-color: var(--primaryDark);
    }

    button:first-child{
        margin-right: .5rem;
    }
}

.doctorOptions{
    display: flex;
    justify-content: right;
    align-items: center;

    button{
        padding: 0.25rem .5rem;
        font-size: 1rem;
        background-color: var(--primary);
        border-color: var(--primary);
    }

    button:hover{
        background-color: var(--primaryDark);
        border-color: var(--primaryDark);
    }
}

.doctorsList{
    max-height: 50vh;
    overflow-y: auto;
    padding: .5rem;
}

.doctorItem{
    border-bottom: 1px solid var(--background);
}

.reduceText{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 8rem;
}

:host ::ng-deep .p-chip{
    font-size: .7rem;
    margin-right: 0.2rem;
}