<div class="grid">
    <div class="col-12 sm:col-12 md:col-6 lg:col-3">
        <app-patients-list (changeCurrentPatientEmit)="detectChanges($event)"></app-patients-list>
    </div>
    <div class="col-12 sm:col-12 md:col-6 lg:col-3">
        <app-patient-resume [patient]="currentPatient" [viewType]="'globalPatients'"></app-patient-resume>
        <br>
        <app-current-patient-events [patient]="currentPatient"></app-current-patient-events>
    </div>
    <div class="col-12 sm:col-12 md:col-12 lg:col-6">
        <app-patient-data [patient]="currentPatient"></app-patient-data>
    </div>
</div>