<p-panel header="Centros" [toggleable]="false">
    <div class="optionsCenters">
        <div class="centersSearch">
            <form autocomplete="on" [formGroup]="myForm">
                <input [readonly]="!isAdmin" [disabled]="!isAdmin" formControlName="centerSearch" type="text" name="description" pInputText placeholder="Buscar centro...">
            </form>
        </div>
        <div class="centersButtons">
            <button pButton [disabled]="!isAdmin" (click)="orderCentersByAlphabetic()">
                <i [className]="orderAlphabeticClass"></i>
            </button>
            <button pButton [disabled]="!isAdmin" (click)="showCenterDialog('Crear centro', 'Crear', 'post', null!)">
                <i class="pi pi-plus"></i>
            </button>
        </div>
    </div>
    <div class="centersList">
        <div *ngIf="!isAdmin">
            <p>Necesita ser administrador para poder visualizar, modifica y centros</p>
        </div>
        <div *ngIf="isAdmin">
            <p *ngIf="centers.length <= 0">No hay centros disponibles</p>
            <div class="centersItem" *ngFor="let center of centers">
                <div class="grid">
                    <div class="col-10">
                        <h4>{{center.name}}</h4>
                        <p>Teléfono: {{center.phone}}</p>
                        <p>ZBS: {{center.basicHealthZone?.name}}</p>
                        <p *ngIf="!center.rooms || center.rooms!.length <= 0">Salas: No hay salas en el centro</p>
                        <p *ngIf="center.rooms && center.rooms!.length > 0">Salas: <p-chip [label]="room.name" *ngFor="let room of center.rooms"></p-chip></p>
                    </div>
                    <div class="col-2 centersOptions">
                        <button pButton (click)="showCenterDialog('Editar centro', 'Editar', 'put', center)">
                            <i class="fa-solid fa-pen"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-panel>

<app-modal-centers
    [dialogHeader]="dialogHeader"
    [buttonSummitTitle]="buttonSummitTitle"
    [(dialogMode)]="dialogMode"
    [(displayModalCenters)]="displayModalCenters"
    [currentCenter]="currentCenter"
    (updateData)="detectCenterChanges($event)">
</app-modal-centers>