<p-toast key="consultationKey" position="top-right"></p-toast>
<div class="grid">
    <div class="col-12 sm:col-12 md:col-6 lg:col-4">
        <app-patient-resume [viewType]="'videocall'" [patient]="notification.patient!" [event]="notification.event!" (closeConsultation)="closeConsultation()"></app-patient-resume>
        <br>
        <app-patient-data [patient]="notification.patient!" [(updateData)]="updateChartsDataIsNecessary"></app-patient-data>
    </div>
    <div class="col-12 sm:col-12 md:col-6 lg:col-4">
        <app-take-measures [notification]="notification" (updateData)="notificateUpdateChartData()"></app-take-measures>
    </div>
    <div class="col-12 sm:col-12 md:col-12 lg:col-4">
        <app-videocall [notification]="notification"></app-videocall>
        <br>
        <app-current-patient-events [patient]="notification.patient!"></app-current-patient-events>
    </div>
</div>
<app-aws-mqtt [clientID]="clientID" [(connection)]="connection"></app-aws-mqtt>