<div class="titleChart">
    <h4>{{elementType}}</h4>
    <button pButton class="p-panel-header-icon p-link" (click)="updateChartData()">
        <i class="fa-solid fa-arrow-rotate-right"></i>
    </button>
</div>
<p *ngIf="data == null || !data[0].series" class="notificate">No hay datos para {{elementType | lowercase}}</p>
<ngx-charts-line-chart *ngIf="data != null && data[0].series"
    [results]="data"
    [scheme]="colorScheme"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxis]="true"
    [yAxis]="true"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [autoScale]="true"
    [timeline]="false"
    [legend]="showLegend"
    [legendPosition]="legendPosition"
    [legendTitle]="'Leyenda'">
</ngx-charts-line-chart>