.titleChart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    h4{
        text-align: center;
        margin-right: 1rem;
    }

    button{
        padding: 0.25rem 0.5rem;
        background-color: var(--textSoft);
        color: var(--secundary);
    }

    button:hover{
        background-color: var(--secundary);
        color: var(--textSoft);
    }
}

.notificate{
    text-align: center;
}

:host ::ng-deep g.ng-star-inserted{
    font-weight: bold;
}