<div class="grid">
    <div class="col-12 sm:col-12 md:col-6 lg:col-6">
        <app-take-measures></app-take-measures>
    </div>
    <div class="col-12 sm:col-12 md:col-6 lg:col-6">
        <app-videocall></app-videocall>
    </div>
</div>

<app-aws-mqtt [clientID]="clientID" [(connection)]="connection" (isConnectionCorrectly)="subscribeEndConsultation();"></app-aws-mqtt>