<p-panel header="Información personal" [toggleable]="false">
    <div class="doctorIndormation">
        <div *ngIf="doctor">
            <div class="grid">
                <div class="col-8">
                    <h4>{{doctor.name}} {{doctor.surname}}</h4>
                    <p>Email: {{doctor.email}}</p>
                    <p class="reduceText">Contraseña: {{doctor.password | unshowPassword}}</p>
                    <p>Administrador: {{doctor.isAdmin == 1 ? 'Si' : 'No'}}</p>
                    <p>ZBS: <p-chip [label]="BHZ.name" *ngFor="let BHZ of basicHealthZones"></p-chip></p>
                </div>
                <div class="col-4 doctorOptions">
                    <button pButton label="Cerrar sesión" (click)="closeSession()"></button>
                    <button pButton (click)="showDoctorDialog('Editar médico', 'Editar', 'put')">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</p-panel>

<app-modal-doctors
    [dialogHeader]="dialogHeader"
    [buttonSummitTitle]="buttonSummitTitle"
    [(dialogMode)]="dialogMode"
    [(displayModalDoctor)]="displayModalDoctor"
    [basicHealthZones]="basicHealthZones"
    [currentDoctor]="doctor">
</app-modal-doctors>