.doctorIndormation{
    max-height: 40vh;
    overflow-y: auto;
    padding: .5rem;

    .reduceText{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 8rem;
    }

    .doctorOptions{
        display: flex;
        justify-content: right;
        align-items: center;

        button{
            padding: 0.25rem .5rem;
            font-size: 1rem;
        }

        button:first-child{
            background-color: var(--error);
            border-color: var(--error);
        }

        button:first-child:hover{
            background-color: var(--errorDark);
            border-color: var(--errorDark);
        }

        button:first-child{
            margin-right: .5rem;
        }
        
        button{
            font-size: .7rem;
            padding: .5rem 1rem;
            background-color: var(--primary);
            border-color: var(--primary);
        }
    
        button:nth-child(2):hover{
            background-color: var(--primaryDark);
            border-color: var(--primaryDark);
        }
    }
}


:host ::ng-deep .p-chip{
    font-size: .7rem;
    margin-right: 0.2rem;
}