:host ::ng-deep{
    .p-card{
        width: 60vw;
    }

    .p-card-body, .p-card-content{
        padding-top: .5rem;
    }

    .p-dialog-header-icon:last-child{
        display: none;
    }

    p-steps{
        width: 100%;
    }
}

.loginCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 98vh;

    .awaitingList{
        margin-top: 1rem;
    }
}

.logoHospital{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: -3rem;
    height: 7rem;
    background-color: var(--primary);
    width: fit-content;
    padding: 1rem;
    border-radius: 10rem;
    box-shadow: 1px 1px 10px var(--shadows);

    img{
        width: 10rem;
        max-height: 10rem;
    }
}

.cardContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    h1{
        margin-top: 0;
        margin-bottom: 0;
        color: var(--primary);
    }

    h3{
        margin-top: 0;
        color: var(--secundary);
    }

    .sipForm{
        width: 100%;
        display: flex;
        flex-direction: column;

        p{
            font-weight: bold;
        }
    }

    hr{
        border: 0;
        clear:both;
        display:block;
        width: 96%;               
        background-color:var(--shadows);
        height: 1px;
    }
}