<p-toast key="notificationsKey" position="top-right"></p-toast>
<div class="loginCard">
    <p-card>
        <ng-template pTemplate="header">
            <div class="logoHospital">
                <img src="../../../../assets/logoPoCAR.webp" alt="Logo hospital">
            </div>
        </ng-template>
        <div class="cardContent">
            <h1>{{getWelcomeMessage()}}</h1>
            <h3>{{applicationInformation ? applicationInformation.center.name : ''}}</h3>
            <div class="sipForm">
                <p>Para notificar su llegada, introduzca su SIP:</p>
                <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="sendNotificationMessage('arrive')">
                    <div class="columnForm">
                        <span class="p-input-icon-left">
                            <i class="fa-solid fa-address-card"></i>
                            <input type="text" name="sip" formControlName="sip" pInputText placeholder="SIP o documento de identificación">       
                        </span>
                    </div>
                    <div class="columnFormButton">
                        <button class="button-primary" pButton pRipple type="submit" label="Avisar al médico de la llegada" [disabled]="myForm.invalid"></button>
                    </div>
                </form>
                <hr *ngIf="applicationInformation && applicationInformation.center">
                <h6 *ngIf="applicationInformation && applicationInformation.center">¿Tiene algún tipo de problema? Pongase en contacto llamando al: {{applicationInformation.center.phone}}</h6>
                <hr *ngIf="ipAddress">
                <h6 *ngIf="ipAddress">IP: {{ipAddress}}</h6>
            </div>
        </div>
    </p-card>
    <p-card class="awaitingList" *ngIf="waitingPatients.length > 0">
        <div class="cardContent">
            <h3>Lista de espera</h3>
            <p>A continuación, puede consultar la lista de espera teniendo en cuenta sus últimos 3 números del SIP</p>
            <br>
            <p-steps *ngIf="waitingPatients.length > 0" [model]="waitingPatients"></p-steps>
        </div>
    </p-card>
</div>

<p-dialog [(visible)]="displayAwaiting" [draggable]="false" [modal]="true">
    <div class="cardContent">
        <h1>{{getWelcomeMessage()}}</h1>
        <h3>{{(applicationInformation && applicationInformation.center) ? applicationInformation.center.name : ''}}</h3>
        <br>
        <b>El médico ya ha sido notificado de su llegada, porfavor, espere.</b>
        <p-progressSpinner></p-progressSpinner>
        <!--<br>
        <hr>
        <p>En caso de necesitar cancelar la cita, pulse el siguient botón:</p>
        <button class="button-primary" pButton pRipple type="button" label="Abandonar cita" (click)="sendNotificationMessage('left')"></button>-->
    </div>
</p-dialog>

<p-confirmDialog header="Confirmación cita urgencias" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<app-aws-mqtt *ngIf="clientID != ''" [clientID]="clientID" [(connection)]="connection" (isConnectionCorrectly)="subscribeNotifications();"></app-aws-mqtt>
