<p-toast key="currentPatientEventKey" position="top-right"></p-toast>
<p-panel header="Históricos" [toggleable]="false">
    <ng-template pTemplate="icons">
        <button [disabled]="!patient" (click)="opGraph.toggle($event)" pButton class="p-panel-header-icon p-link">
            <i class="fa-solid fa-chart-line"></i>
        </button>
        <p-overlayPanel #opGraph [showCloseIcon]="true">
            <ng-template pTemplate>
                <form autocomplete="off" [formGroup]="myForm">
                    <p-listbox [options]="posibleCharts" formControlName="selectedCharts" [multiple]="true" [checkbox]="true" [filter]="true"></p-listbox>
                </form>
            </ng-template>
        </p-overlayPanel>
        <button [disabled]="!patient" (click)="opTime.toggle($event)" pButton class="p-panel-header-icon p-link">
            <i class="fa-solid fa-clock"></i>
        </button>
        <p-overlayPanel #opTime [showCloseIcon]="true">
            <ng-template pTemplate>
                <form autocomplete="off" [formGroup]="myForm">
                    <p-listbox [options]="posibleTimes" formControlName="selectedTime" [filter]="true" ></p-listbox>
                    <div class="grid" *ngIf="selectedTime == 'Personalizado'">
                        <div class="columnForm col-6">
                          <h5>Fecha inicio</h5>
                          <p-calendar dateformat="Y-m-dTH:i" formControlName="startDate" [showTime]="true" inputId="time" placeholder="DD/MM/YYYY HH:MM"></p-calendar>
                        </div>
                        <div class="columnForm col-6">
                          <h5>Fecha fin</h5>
                          <p-calendar dateformat="Y-m-dTH:i" formControlName="endDate" [showTime]="true" inputId="time" placeholder="DD/MM/YYYY HH:MM"></p-calendar>
                        </div>
                    </div>
                </form>
            </ng-template>
        </p-overlayPanel>
    </ng-template>
    <div [ngClass]="currentUrl == '/consulta' ? 'graphicsContainer graphicsContainerLimit' : 'graphicsContainer'">
        <div *ngIf="!patient">
            <p>No hay ningún paciente seleccionado</p>
        </div>
        <div *ngIf="selectedCharts.length > 0" class="grid">
            <app-generic-chart [ngClass]="selectedCharts.length == 1 ? 'col-12' : 'col-6'" *ngIf="patient && selectedCharts.includes('Temperatura')" [receivedData]="temperatures" [elementType]="'Temperatura'" [selectedTime]="selectedTime" (updateData)="getChartData('Temperatura')"></app-generic-chart>
            <app-generic-chart [ngClass]="selectedCharts.length == 1 ? 'col-12' : 'col-6'" *ngIf="patient && selectedCharts.includes('Peso')" [receivedData]="weights" [elementType]="'Peso'" [selectedTime]="selectedTime" (updateData)="getChartData('Peso')"></app-generic-chart>
            <app-generic-chart [ngClass]="selectedCharts.length == 1 ? 'col-12' : 'col-6'" *ngIf="patient && selectedCharts.includes('Tensión')" [receivedBloodPreassureData]="bloodPreasures" [elementType]="'Tensión'" [selectedTime]="selectedTime" (updateData)="getChartData('Tensión')"></app-generic-chart>
            <app-generic-chart [ngClass]="selectedCharts.length == 1 ? 'col-12' : 'col-6'" *ngIf="patient && selectedCharts.includes('Pulsaciones y oxígeno')" [receivedPulseOximeterData]="pulseOximeter" [elementType]="'Pulsaciones y oxígeno'" [selectedTime]="selectedTime" (updateData)="getChartData('Pulsaciones y oxígeno')"></app-generic-chart>
        </div>
        <div *ngIf="selectedCharts.length == 0">
            <p>No hay ninguna gráfica seleccionada</p>
        </div>
    </div>
</p-panel>