.graphicsContainer{
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 0.5rem;
    display: grid;
}

.graphicsContainerLimit{
    overflow-y: auto;
    max-height: 50vh;
}

app-generic-chart.col-6{
    flex: 50%;
    max-height: 33vh;
    max-width: 48%;
    margin-bottom: 7rem;
}

app-generic-chart.col-12{
    flex: 100%;
    max-height: 38vh;
    max-width: 48%;
    margin-bottom: 7rem;
}

@media (max-width: 767px) {
    app-generic-chart.col-6{
        flex: 100%;
        max-width: 48%;
        max-height: 33vh;
    }
}