<p-toast key="currentPatientEventKey" position="top-right"></p-toast>
<p-panel header="Próximas citas" [toggleable]="false">
    <ng-template pTemplate="icons">
        <button pButton class="p-panel-header-icon p-link">
            <a [routerLink]="[ '/calendario' ]">
                <span class="fa-solid fa-calendar"></span>
            </a>
        </button>
        <button [disabled]="patient == null" pButton class="p-panel-header-icon p-link" (click)="showEventDialog('Añadir evento', 'Crear', 'post')">
            <span class="fa-solid fa-plus"></span>
        </button>
    </ng-template>
    <div class="optionsEvents">
        <div>
            <form autocomplete="on" [formGroup]="myForm">
                <input formControlName="eventsSearch" type="text" name="description" pInputText placeholder="Buscar evento...">
            </form>
        </div>
    </div>
    <div class="eventsList">
        <p *ngIf="!patient">No hay ningún paciente seleccionado</p>
        <p *ngIf="patientEvents.length <= 0 && patient">No hay eventos disponibles</p>
        <div class="dayEvent" *ngFor="let event of patientEvents">
            <div class="grid">
                <div class="col-8 eventData">
                    <h4>{{getDataFromDate(event)}} · {{getTimeFromDate(event)}}</h4>
                    <p>{{event.description}}</p>
                </div>
                <div class="col-4 eventOptions">
                    <button pButton (click)="confirmDelete(event);">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                    <button pButton (click)="showEditPanel(event)">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</p-panel>

<p-confirmDialog header="Confirmación borrado" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<app-modal-current-patient-events 
    [dialogHeader]="dialogHeader"
    [buttonSummitTitle]="buttonSummitTitle"
    [(dialogMode)]="dialogMode"
    [(displayModalEvent)]="displayModalEvent"
    [resetModalValues]="resetModalValues"
    [patient]="patient"
    [currentEvent]="currentEvent"
    (updateData)="detectCalendarChanges($event)"
></app-modal-current-patient-events>