<p-dialog (onHide)="closeModal()" header="{{dialogHeader}}" [(visible)]="displayModalDevice" [modal]="true" [draggable]="false" [breakpoints]="{'960px': '70vw', '640px': '85vw'}" [style]="{width: '50vw'}">
    <p-messages></p-messages>  
    <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="checkConditions()">
      <div class="grid">
        <div class="columnForm col-6">
          <h5>Coordinador</h5>
          <p-dropdown appendTo="body" [options]="coordinators" formControlName="selectedCoordinator" [filter]="true" filterBy="mac" optionLabel="mac" placeholder="Seleccione un coordinador"></p-dropdown>
        </div>
      </div>
      <div class="grid">
        <div class="columnForm col-6">
          <h5>MAC</h5>
          <input type="text" name="mac" formControlName="mac" pInputText placeholder="Dirección física del dispositivo">
        </div>
        <div class="columnForm col-6">
          <h5>Tipo</h5>
          <p-dropdown appendTo="body" [options]="typesList" formControlName="type" [filter]="true" placeholder="Seleccione un tipo de dispositivo"></p-dropdown>
        </div>
      </div>
      <div class="grid">
        <p-accordion class="col-12">
          <p-accordionTab header="Información técnica">
            <p *ngIf="myForm.get('type')!.value == ''">Seleccione previamente un tipo de dispositivo</p>
            <sub class="inputAnotation">Por favor, no cambie los valores por defecto a no ser que tenga conocimientos técnicos</sub>
            <div class="grid" *ngIf="myForm.get('type')!.value != ''">
              <div class="columnForm col-6" *ngIf="myForm.get('type')!.value != 'Peso'">
                <h5>Servicio</h5>
                <input type="text" name="service" formControlName="service" pInputText placeholder="Servicio del dispositivo">
              </div>
              <div class="columnForm col-6" *ngIf="myForm.get('type')!.value != 'Peso'">
                <h5>Característica</h5>
                <input type="text" name="characteristic" formControlName="characteristic" pInputText placeholder="Característica del dispositivo">
              </div>
              <div class="columnForm col-6" *ngIf="myForm.get('type')!.value == 'Peso'">
                <h5>Descripción</h5>
                <input type="text" name="description" formControlName="description" pInputText placeholder="Descripción del dispositivo">
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
      </div>
      <div class="columnFormButton">
        <button class="button-primary" pButton pRipple type="submit" label="{{buttonSummitTitle}}" [disabled]="myForm.invalid"></button>
      </div>
    </form>
</p-dialog>
