<p-dialog (onHide)="closeModal()" header="{{dialogHeader}}" [(visible)]="displayModalRooms" [modal]="true" [draggable]="false" [breakpoints]="{'960px': '70vw', '640px': '85vw'}" [style]="{width: '50vw'}">
    <p-messages></p-messages>  
    <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="checkNonRepeatingValues()">
      <div class="grid">
        <div class="columnForm col-12">
          <h5>Nombre</h5>
          <input type="text" name="name" formControlName="nameRoom" pInputText placeholder="Nombre sala">
        </div>
      </div>
      <div class="grid">
        <div class="columnForm col-6">
            <h5>Centro</h5>
            <p-dropdown appendTo="body" [options]="centers" formControlName="selectedCenter" [filter]="true" filterBy="name" optionLabel="name" placeholder="Seleccione un centro"></p-dropdown>
        </div>
        <div class="columnForm col-6">
            <h5>MAC coordinador</h5>
            <input type="text" name="macCoordinator" formControlName="macCoordinator" pInputText placeholder="Dirección física">
        </div>
      </div>
      <div class="grid">
        <div class="columnForm col-6">
            <h5>IP aplicación</h5>
            <input type="text" name="ipApp" formControlName="ipApp" pInputText placeholder="Dirección IP">
        </div>
        <div class="columnForm col-6">
            <h5>MAC aplicación</h5>
            <input type="text" name="macApp" formControlName="macApp" pInputText placeholder="Dirección física">
        </div>
      </div>
      <div class="columnFormButton">
        <button class="button-primary" pButton pRipple type="submit" label="{{buttonSummitTitle}}" [disabled]="myForm.invalid"></button>
      </div>
    </form>
</p-dialog>
