<p-panel header="Zonas de Salud Básicas" [toggleable]="false">
    <div class="optionsBHZ">
        <div class="bhzSearch">
            <form autocomplete="on" [formGroup]="myForm">
                <input [readonly]="!isAdmin" [disabled]="!isAdmin" formControlName="bhzSearch" type="text" name="description" pInputText placeholder="Buscar zona básica de salud...">
            </form>
        </div>
        <div class="bhzButtons">
            <button pButton [disabled]="!isAdmin" (click)="orderBasicHealthZonesByAlphabetic()">
                <i [className]="orderAlphabeticClass"></i>
            </button>
            <button pButton [disabled]="!isAdmin" (click)="showBasicHealthZoneDialog('Crear zona básica de salud', 'Crear', 'post', null!)">
                <i class="pi pi-plus"></i>
            </button>
        </div>
    </div>
    <div class="bhzList">
        <div *ngIf="!isAdmin">
            <p>Necesita ser administrador para poder visualizar, modifica y crear zonas básicas de salud</p>
        </div>
        <div *ngIf="isAdmin">
            <p *ngIf="basicHealthZones.length <= 0">No hay zonas básicas de salud disponibles</p>
            <div class="bhzItem" *ngFor="let basicHealthZone of basicHealthZones">
                <div class="grid">
                    <div class="col-10">
                        <h4>{{basicHealthZone.name}}</h4>
                        <p *ngIf="!basicHealthZone.centers || basicHealthZone.centers!.length <= 0">Centros: No hay centros en la ZBS</p>
                        <p *ngIf="basicHealthZone.centers && basicHealthZone.centers!.length > 0">Centros: <p-chip [label]="center.name" *ngFor="let center of basicHealthZone.centers"></p-chip></p>
                    </div>
                    <div class="col-2 bhzOptions">
                        <button pButton (click)="showBasicHealthZoneDialog('Editar zona básica de salud', 'Editar', 'put', basicHealthZone)">
                            <i class="fa-solid fa-pen"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-panel>

<app-modal-basic-health-zones
    [dialogHeader]="dialogHeader"
    [buttonSummitTitle]="buttonSummitTitle"
    [(dialogMode)]="dialogMode"
    [(displayModalBhz)]="displayModalBasicHealthZone"
    [centers]="currentBasicHealthZone ? currentBasicHealthZone.centers! : []"
    [currentBHZ]="currentBasicHealthZone"
    (updateData)="detectBasicHealthZoneChanges($event)">
</app-modal-basic-health-zones>