<p-panel header="Dispositivos" [toggleable]="false">
    <div class="optionsDevices">
        <div class="devicesSearch">
            <form autocomplete="on" [formGroup]="myForm">
                <input [readonly]="!isAdmin" [disabled]="!isAdmin" formControlName="devicesSearch" type="text" name="description" pInputText placeholder="Buscar centro...">
            </form>
        </div>
        <div class="devicesButtons">
            <button pButton [disabled]="!isAdmin" (click)="orderDevicesByAlphabetic()">
                <i [className]="orderAlphabeticClass"></i>
            </button>
            <button pButton [disabled]="!isAdmin" (click)="showDeviceDialog('Crear dispositivo', 'Crear', 'post', null!)">
                <i class="pi pi-plus"></i>
            </button>
        </div>
    </div>
    <div class="devicesList">
        <div *ngIf="!isAdmin">
            <p>Necesita ser administrador para poder visualizar, modifica y dispositivos</p>
        </div>
        <div *ngIf="isAdmin">
            <p *ngIf="devices.length <= 0">No hay dispositivos disponibles</p>
            <div class="devicesItem" *ngFor="let device of devices">
                <div class="grid">
                    <div class="col-10">
                        <h4>{{getSpanishTranslation(device.type)}} - {{device.mac}}</h4>
                        <p>Coordinador: {{device.coordinator ? device.coordinator.mac : "No está asignado a ningún coordinador"}}</p>
                    </div>
                    <div class="col-2 devicesOptions">
                        <button pButton (click)="showDeviceDialog('Editar dispositivo', 'Editar', 'put', device)">
                            <i class="fa-solid fa-pen"></i>
                        </button>
                    </div>
                </div>
                <div class="grid">
                    <p-accordion class="col-12">
                        <p-accordionTab header="Información técnica">
                            <p *ngIf="device.type != 'weight'">Servicio: {{device.service}}</p>
                            <p *ngIf="device.type != 'weight'">Característica: {{device.characteristic}}</p>
                            <p *ngIf="device.type == 'weight'">Descripción: {{device.description}}</p>
                        </p-accordionTab>
                    </p-accordion>
                </div>
            </div>
        </div>
    </div>
</p-panel>

<app-modal-devices
    [dialogHeader]="dialogHeader"
    [buttonSummitTitle]="buttonSummitTitle"
    [(dialogMode)]="dialogMode"
    [(displayModalDevice)]="displayModalDevices"
    [currentDevice]="currentDevice"
    (updateData)="detectDeviceChanges($event)">
</app-modal-devices>