:root {
    --primary: #59BAAE;
    --primaryDark: #50a79c;
    --secundary: #258075;
    --secundaryDark:rgb(31, 107, 98);
    --tertiary: #5995BA;
    --tertiaryDark: #4d81a1;
    --error: #BA5996;
    --errorDark: #9e4b7f;
    --textSoft: white;
    --background: #F2F2F2;
    --shadows: #c0bebe;
    --greyText: #797979;
}

html{
    background-color: var(--background);
}

/* CHANGE GENERAL PRIMENG STYLES */

.p-inputtext:enabled:hover {
    border-color: var(--primary);
}

.p-inputtext:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 1px var(--secundary);
    border-color: var(--primary);
}

.p-button:disabled{
    background-color: var(--greyText);
    border: 1px solid var(--greyText);
}

.p-button {
    color: var(--textSoft);
    background: var(--secundary);
    border: 1px solid var(--secundary);
}

.p-button:enabled:hover {
    background: var(--secundaryDark);
    color: var(--textSoft);
    border-color: var(--secundaryDark);
}

.p-button:focus{
    box-shadow: none;
}

.p-button.cancelButton:disabled{
    background-color: var(--greyText);
    border: 1px solid var(--greyText);
}

.p-button.cancelButton {
    color: var(--textSoft);
    background: var(--error);
    border: 1px solid var(--error);
}

.p-button.cancelButton:enabled:hover {
    background: var(--errorDark);
    color: var(--textSoft);
    border-color: var(--errorDark);
}

.p-button.cancelButton:focus{
    box-shadow: none;
}

.p-dropdown-panel .p-dropdown-header .p-dropdown-filter-icon {
    right: auto;
}

.p-dropdown{
    width: 100%;
}

p-dropdown.ng-dirty.ng-invalid > .p-dropdown{
    border-color: #ced4da;
}

p-dropdown{
    .p-dropdown-trigger-icon{
        color: #6c757d;
        cursor: pointer;
    }

    .p-dropdown-clearable, .p-disabled{
        width: 100%;
    }
}

/* SECTION FORMS IN COLUMN */
/* used in: login, calendar, patients */

form .columnForm{
    display: flex;
    flex-direction: column;

    span, span input{
        width: 100%;
    }

    h5{
        margin-bottom: .5rem;
    }

    sub{
        margin-top: 0.1rem;
        color: var(--greyText);
    }
}

form .columnFormButton{
    display: flex;
    justify-content: end;

    button{
        margin: 1rem;
        margin-right: 0;
    }
}

/* PANELS */
/* used in: login, inicio */

.p-panel .p-panel-header{
    background-color: var(--primary);
    color: var(--textSoft);
    padding: .5rem;
    min-height: 3rem;

    .p-panel-header-icon{
        color: var(--textSoft);

        a{
            color: var(--textSoft);
        }
    }
}

.p-panel .p-panel-header .p-panel-header-icon:enabled:hover {
    color: var(--secundary);
    border-color: var(--primary);
    background: var(--primary);
}

.p-panel .p-panel-header .p-panel-header-icon:enabled:hover a {
    color: var(--secundary);
    border-color: var(--primary);
    background: var(--primary);
}

.p-panel .p-panel-header .p-panel-header-icon:focus{
    box-shadow: none;
}

.p-panel .p-panel-content{
    padding: 0;
    padding-bottom: 1.25rem;
}

/* CALENDAR */
/* used in: calendario */

.cal-month-view .cal-day-cell.cal-today .cal-day-number{
    color: var(--secundary) !important;
    font-weight: bold !important;
}

.cal-month-view{
    background-color: transparent;

    .cal-cell-row div{
        text-transform: capitalize;
        color: var(--secundary);
    }

    .cal-day-cell.cal-today{
        background-color: rgba(89, 186, 174, .1);
    }

    .cal-days .cal-cell-row{
        background-color: var(--textSoft);
    }

    .cal-day-badge{
        background-color: var(--secundary);
    }

    .cal-open-day-events{
        background-color: var(--background);
        color: var(--greyText);
        box-shadow: none;
    }

    .cal-day-badge{
        display: none;
    }
}

.cal-event-actions a i{
    color: var(--background);
    background-color: var(--primary);
    padding: .3rem;
    border-radius: .4rem;
    margin: .2rem;
    width: 1.6rem;
}

.cal-event-actions a i:hover{
    color: var(--secundary);
    background-color: var(--textSoft);
    border: 1px solid var(--secundary);
}

.cal-event-actions a .fa-trash{
    color: var(--background);
    background-color: var(--error);
    padding: .3rem;
    border-radius: .4rem;
    margin: .2rem;
    width: 1.6rem;
}

.cal-event-actions a .fa-trash:hover{
    color: var(--error);
    background-color: var(--textSoft);
    border: 1px solid var(--error);
}

.cal-week-view{
    background-color: transparent;
    border-top: 0;

    .cal-day-headers{
        border-right: 0 !important;
        border-left: 0 !important;
    }

    .cal-day-headers div b{
        text-transform: capitalize;
        color: var(--secundary);
    }

    .cal-day-headers div a{
        text-transform: capitalize;
    }

    .cal-header.cal-today{
        background-color: rgba(89, 186, 174, .1);
    }

    .cal-time-events{
        background-color: var(--textSoft);
    }
}

.cal-open-day-events .ng-star-inserted{
    display: flex;
    flex-direction: row;
    margin-top: .2rem;
    margin-bottom: .2rem;

    mwl-calendar-event-title{
        margin-right: .5rem; 
        margin-left: .5rem;
    }
}

mwl-calendar-event-actions span a{
    text-decoration: none;
}

/* SPLIT BUTTON */
/* used in: home */

.optionsPatients .patientsButtons p-splitbutton button{
    padding: .25rem .5rem;
    font-size: 1rem;
    width: auto;
    height: auto;
    background-color: var(--primary);
    border-color: var(--primary);
}

.optionsPatients .patientsButtons p-splitbutton button:hover{
    background-color: var(--primaryDark);
    border-color: var(--primaryDark);
}