.notificationsFilter{
    background-color: var(--background);
    padding: .5rem;
    padding-bottom: 0;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.notificationsFilter .filter{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    p{
        margin: 0;
        margin-left: .5rem;
        margin-right: .5rem;
    }

    .selectedBar{
        width: 100%;
        height: 1px;
        border-bottom: 4px solid var(--primary);
    }
}

.notificationsFilter .filter .selectedFilter{
    color: var(--primary);
    font-weight: bold;
}

.notifications{
    max-height: 40vh;
    overflow-y: auto;
    padding: 0.5rem;
}

.notificationEvent{
    border-bottom: 1px solid var(--background);
}

.notificationAction{
    display: flex;
    justify-content: right;
    align-items: center;

    .button-primary{
        font-size: .7rem;
        padding: 0.55rem 1rem;
        background-color: var(--tertiary);
        border-color: var(--tertiary);
    }
    
    .button-primary:hover{
        background-color: var(--tertiaryDark);
        border-color: var(--tertiaryDark);
    }
}

.notificationData h4{
    margin-top: .5rem;
}

.disableNotificationData, .disableNotificationData h4{
    color: var(--greyText);
}