<p-toast key="notificationsKey" position="top-right"></p-toast>
<p-panel header="Notificaciones consultas" [toggleable]="false">
    <div class="notificationsFilter">
        <div [id]="filter.value" (click)="changeCurrentFilter(filter)" *ngFor="let filter of filters" class="filter">
            <p [ngClass]="{'selectedFilter': filter.isSelected}">{{filter.value}}</p>
            <div *ngIf="filter.isSelected" class="selectedBar"></div>
        </div>
    </div>
    <div class="notifications">
        <p *ngIf="notifications.length == 0">No hay notificaciones disponibles</p>
        <div class="notificationEvent" *ngFor="let notification of notifications">
            <div class="grid">
                <div class="col-8 notificationData" [ngClass]="{'disableNotificationData' : isNotificationNotAccessible(notification)}">
                    <h4 *ngIf="notification.patient">{{notification.patient.name}} {{notification.patient.surname}} ha llegado a la consulta</h4>
                    <h4 *ngIf="!notification.patient">El paciente con SIP: {{notification.sip}} ha llegado a la consulta</h4>
                    <p *ngIf="notification.event">{{notification.event.description}} a las {{getTimeString(notification)}}</p>
                    <p *ngIf="!notification.event">No hay ninguna cita programada</p>
                </div>
                <div class="col-4 notificationAction">
                    <h4 *ngIf="notification.action == 'end'">Consulta finalizada</h4>
                    <button *ngIf="notification.action == 'arrive' || notification.action == 'left'" class="button-primary" pButton pRipple type="submit" label="Realizar consulta" [disabled]="isNotificationNotAccessible(notification)" (click)="sendStartNotification(notification)">
                    </button>
                </div>
            </div>
        </div>
    </div>
</p-panel>
<app-aws-mqtt [clientID]="clientID" [(connection)]="connection" (isConnectionCorrectly)="subscribeNotifications();"></app-aws-mqtt>