<div id="leftMenu">
    <a [routerLink]="[ '/inicio' ]" class="menuSection logo">
        <img src="../../../assets/logoPoCAR.webp" alt="PoCAR Logo">
    </a>
    <a [routerLink]="[ '/inicio' ]" routerLinkActive="selectedOption" class="menuSection">
        <i class="fa-solid fa-house-chimney"></i>
        <p>Inicio</p>
    </a>
    <a [routerLink]="[ '/calendario' ]" routerLinkActive="selectedOption" class="menuSection">
        <i class="fa-solid fa-calendar"></i>
        <p>Calendario</p>
    </a>
    <a [routerLink]="[ '/pacientes' ]" routerLinkActive="selectedOption" class="menuSection">
        <i class="fa-solid fa-user"></i>
        <p>Pacientes</p>
    </a>
    <a [routerLink]="[ '/ajustes' ]" routerLinkActive="selectedOption" class="menuSection">
        <i class="fa-solid fa-gear"></i>
        <p>Ajustes</p>
    </a>
</div>
