#leftMenu{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-color: var(--primary);
}

.menuSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    color: var(--textSoft);
    text-decoration: none;

    i{
        font-size: 2rem;
        margin-top: .5rem;
        margin-bottom: .5rem;
    }

    p{
        margin-top: 0;
        margin-bottom: .5rem;
    }
}
.menuSection:hover, .selectedOption{
    background-color: var(--background);
    color: var(--primary);
    cursor: pointer;
}

.menuSection:hover p, .selectedOption{
    font-weight: bold;
}

.logo{
    padding: .2rem;
    
    img{
        width: 100%;
    }
}


.logo:hover{
    background-color: var(--primary);
}