<p-dialog (onHide)="closeModal()" [draggable]="false" header="{{dialogHeader}}" [(visible)]="displayModalEvent" [modal]="true" [breakpoints]="{'960px': '70vw', '640px': '85vw'}" [style]="{width: '50vw'}">
    <p-messages></p-messages>  
    <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="dialogMode == 'post' ? createNewEvent() : editEvent()">
        <div class="columnForm">
          <h5>Paciente</h5>
          <input [disabled]="true" readonly type="text" name="selectedPatient" formControlName="selectedPatient" pInputText placeholder="Paciente">
          <sub class="inputAnotation">Este campo no se puede modificar</sub>
        </div>
        <div class="grid">
          <div class="columnForm col-6">
            <h5>Centro</h5>
            <p-dropdown appendTo="body" [options]="centers" formControlName="selectedCenter" [filter]="true" filterBy="name" optionLabel="name" placeholder="Seleccione un centro"></p-dropdown>
          </div>
          <div class="columnForm col-6">
            <h5>Doctor</h5>
            <input [disabled]="true" readonly type="text" name="selectedDoctor" formControlName="selectedDoctor" pInputText placeholder="Médico para la consulta">
            <sub class="inputAnotation">Este campo no se puede modificar</sub>
          </div>
        </div>
        <div class="columnForm">
          <h5>Descripción</h5>
          <span class="p-input-icon-left">
            <i class="fa-solid fa-info"></i>
            <input type="text" name="description" formControlName="description" pInputText placeholder="Descripción cita"> 
          </span>
        </div>
        <div class="grid">
          <div class="columnForm col-4 sm:col-2">
            <h5>Color primario</h5>
            <p-colorPicker formControlName="primaryColor"></p-colorPicker>
          </div>
          <div class="columnForm col-4 sm:col-2">
            <h5>Color secundario</h5>
            <p-colorPicker formControlName="secundaryColor"></p-colorPicker>
          </div>
        </div>
        <div class="grid">
          <div class="columnForm col-6">
            <h5>Fecha inicio</h5>
            <p-calendar dateformat="Y-m-dTH:i" formControlName="startDate" [showTime]="true" inputId="time" placeholder="DD/MM/YYYY HH:MM"></p-calendar>
          </div>
          <div class="columnForm col-6">
            <h5>Fecha fin</h5>
            <p-calendar dateformat="Y-m-dTH:i" formControlName="endDate" [showTime]="true" inputId="time" placeholder="DD/MM/YYYY HH:MM"></p-calendar>
          </div>
        </div>
        <div class="columnFormButton">
          <button class="button-primary" pButton pRipple type="submit" label="{{buttonSummitTitle}}" [disabled]="myForm.invalid"></button>
        </div>
    </form>
</p-dialog>
  