<div class="grid">
    <div class="col-12 sm:col-12 md:col-6 lg:col-4">
        <app-doctor-resume></app-doctor-resume>
        <br>
        <app-doctors-list></app-doctors-list>
    </div>
    <div class="col-12 sm:col-12 md:col-6 lg:col-4">
        <app-basic-health-zones-list [(updateData)]="updateBhzIsNecessary"></app-basic-health-zones-list>
        <br>
        <app-centers-list (updateData)="notificateUpdateBhzData()" [(updateDataRooms)]="updateCentersIsNecessary"></app-centers-list>
    </div>
    <div class="col-12 sm:col-12 md:col-12 lg:col-4">
        <app-rooms-list (updateData)="notificateUpdateCentersData()"></app-rooms-list>
        <br>
        <app-devices-list></app-devices-list>
    </div>
</div>