.weekendDays{
    background-color: var(--background);
    padding: .5rem;
    padding-bottom: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.weekendDays .day{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    p{
        margin: 0;
    }

    .selectedBar{
        width: 100%;
        height: 1px;
        border-bottom: 4px solid var(--primary);
    }
}

.weekendDays .day .selectedDay{
    color: var(--primary);
    font-weight: bold;
}

.dayEvents{
    max-height: 40vh;
    overflow-y: auto;
    padding: 0.5rem;
}

.eventTime{
    display: flex;
    justify-content: right;
    align-items: center;

    h4{
        color: var(--secundary);
    }
}

.eventData h4{
    margin-top: .5rem;
}

.dayEvent{
    border-bottom: 1px solid var(--background);
}

.disableEventData, .disableEventData h4{
    color: var(--greyText);
}