<p-panel header="Próximas citas" [toggleable]="false">
    <ng-template pTemplate="icons">
        <button pButton class="p-panel-header-icon p-link">
            <a [routerLink]="[ '/calendario' ]">
                <span class="fa-solid fa-calendar"></span>
            </a>
        </button>
        <button (click)="showEventDialog('Añadir evento', 'Crear', 'post')" pButton class="p-panel-header-icon p-link">
            <span class="fa-solid fa-plus"></span>
        </button>
    </ng-template>
    <div class="weekendDays">
        <div (click)="changeCurrentDay(day)" *ngFor="let day of days" class="day">
            <p [ngClass]="{'selectedDay': day.isCurrentDay}">{{day.value}}</p>
            <p [ngClass]="{'selectedDay': day.isCurrentDay}">{{day.text}}</p>
            <div *ngIf="day.isCurrentDay" class="selectedBar"></div>
        </div>
    </div>
    <div class="dayEvents">
        <p *ngIf="dayEvents.length <= 0">No hay eventos disponibles</p>
        <div class="dayEvent" *ngFor="let event of dayEvents">
            <div class="grid">
                <div class="col-8 eventData" [ngClass]="{'disableEventData' : isTimeOff(event)}">
                    <h4>{{event.name}} {{event.surname}} · {{event.age}} años</h4>
                    <p>{{event.resume}}</p>
                </div>
                <div class="col-4 eventTime" [ngClass]="{'disableEventData' : isTimeOff(event)}">
                    <h4>{{event.time.hours}}:{{event.time.minutes}} H</h4>
                </div>
            </div>
        </div>
    </div>
</p-panel>

<app-modal-events
    [parentType]="'upcommingEvents'" 
    [dialogHeader]="dialogHeader"
    [buttonSummitTitle]="buttonSummitTitle"
    [(dialogMode)]="dialogMode"
    [(displayModalEvent)]="displayModalEvent"
    [resetModalValues]="resetModalValues"
    [(upcommingEvents)]="events"
    [patients]="patients"
    [currentDay]="getSelectedDayDate()"
    (updateData)="detectCalendarChanges()"
></app-modal-events>